<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-6 *ngFor = "let casa of casas">
      <ion-card>
        <img *ngIf = "casa.hasOwnProperty ('pictures')"
        src = {{casa.pictures[0].url}}>

        <h2 *ngIf = "casa.hasOwnProperty ('price')">
          {{casa.price.formattedAmount}}
        </h2>

        <h2 *ngIf = "casa.hasOwnProperty ('geo')">
          {{casa.geo.name}}
        </h2>
        

      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>


// la imagen se se saco de de pictures y en pictures se saco con el url
//el precio se saco en price y luego en la rama de formatedAmount
//la ubicacion de saco de geo y luego de name